---
page-title: Widgets Sports
page-heading: "Widgets <span class=\"highlight\">Sports</span>"

breadcrumbs: [
	{
		label: "Features",
		link: "features-shortcodes.html"
	},
	{
		label: "Widgets - Sports"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">
			<div class="col-md-4">

				{{> widget-game-result}}

			</div>
			<div class="col-md-4">

				{{> widget-game-result-sm}}

			</div>
			<div class="col-md-4">

				{{> widget-standings}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-4">

				{{> widget-newslog}}

			</div>
			<div class="col-md-4">

				{{> widget-newslog-player}}

			</div>
			<div class="col-md-4">

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-4">

				{{> widget-player}}

				{{> widget-player-alt}}

			</div>
			<div class="col-md-4">

				{{> widget-player-alt-extended}}

			</div>
			<div class="col-md-4">

				{{> widget-player-alt-stats}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-4">

				{{> widget-results}}

			</div>
			<div class="col-md-4">

				{{> widget-preview}}

			</div>
			<div class="col-md-4">

				{{> widget-preview-alt}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-4">

				{{> widget-team-leaders}}

			</div>
			<div class="col-md-4">

				{{> widget-team-stats}}

			</div>
			<div class="col-md-4">

				{{> widget-games-history}}

			</div>
		</div>

	</div>
</div>

<!-- Content / End -->
