---
page-title: Widgets Blog
page-heading: "Widgets <span class=\"highlight\">Blog</span>"

breadcrumbs: [
	{
		label: "Features",
		link: "features-shortcodes.html"
	},
	{
		label: "Widgets - Blog"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">
			<div class="col-md-4">

				{{> widget-categories}}

			</div>
			<div class="col-md-4">

				{{> widget-comments}}

			</div>
			<div class="col-md-4">

				{{> widget-tagcloud}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-4">

				{{> widget-poll}}

			</div>
			<div class="col-md-4">

				{{> widget-popular-posts}}

			</div>
			<div class="col-md-4">

				{{> widget-newsletter}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-4">

				{{> widget-social}}

				{{> widget-social-alt}}

			</div>
			<div class="col-md-4">

				{{> widget-social-player}}

				{{> widget-social-condensed}}

				{{> widget-social-grid}}

			</div>
			<div class="col-md-4">

				{{> widget-banner}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-4">

				{{> widget-tabbed}}

			</div>
			<div class="col-md-4">

				{{> widget-tabbed-sm}}

			</div>
			<div class="col-md-4">

				{{> widget-twitter}}

			</div>
		</div>

	</div>
</div>

<!-- Content / End -->
