/* Sponsors
/* ------------------------- */
.sponsor-1 {
  max-height: 70px;
  width: auto;
  margin: 16px; }

.sponsor-2 {
  max-height: 50px;
  width: auto;
  margin: 16px; }

@media (max-width: 479px) {
  .sponsor-1 {
    max-height: 50px;
    width: auto;
    margin: 16px; }
  .sponsor-2 {
    max-height: 40px;
    width: auto;
    margin: 16px; } }
